<div class="login_form_container">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	<div class="header">
		<% if devise_mapping.rememberable? -%>
			<div id="left"><%= f.check_box :remember_me %> </div>
		<% end %>
		<div id="right">
			 | <%= render "devise/shared/links" %>
		</div>
		<div id="center"><span id="remember_me_text">remember me</span></div>
		<div id="clear-both"></div>
	</div>

	<div class="login_form">
		<%= f.email_field :email, autofocus: true, class: "user_input", placeholder: 'email' %>
		<br/>
		<%= f.password_field :password, autocomplete: "off", class: "user_input", placeholder: 'password' %>

		<%= f.submit "Login", class: "btn btn-info btn-lg btn-block" %>
	</div>
	<% end %>
</div>